<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/style/base.css" />
		<script src="/socket.io/socket.io.js"></script>
		<script src="/scripts/base.js"></script>
		<script src="/scripts/deployment.js"></script>
		<title>Lemon-DM</title>
	</head>
	<body onload="init()">
		<a href="/build">Back</a>
		<hr />
		<div class="vertical-container" style="height: 60vh; overflow-y: scroll">
			<h3>Build</h3>
			<table class="border1 table-container">
				<tr>
					<th>Name</th>
					<th>branch</th>
					<th>Created At</th>
				</tr>
				<tr>
					<td id="build-name">loading...</td>
					<td id="build-branch">loading...</td>
					<td
						><input
							id="build-createdAt"
							type="datetime-local"
							readonly
					/></td>
				</tr>
				<tr>
					<td><button onclick="rebuild()">Rebuild</button></td>
					<td>
						<button onclick="deleteBuild()">
							Delete build
						</button>
					</td>
					<td>
						<button onclick="deleteAllDeployments()">
							Delete all deployments
						</button>
					</td>
				</tr>
			</table>
			<h4>Create new deployment</h4>
			<form
				id="create-deployment"
				class="vertical-container"
				style="align-items: start"
			>
				<label for="ports">
					Ports (write in format
					"HOST_PORT:CONTAINER_PORT;HOST_PORT:CONTAINER_PORT", don't
					forget to EXPOSE your ports in the Dockerfile):
				</label>
				<input
					id="ports"
					name="ports"
					style="width: 90%"
					pattern="([0-9]+:[0-9]+;)*([0-9]+:[0-9]+)|"
				/>
				<label for="env-vars">
					Enviroment variables (write in format VAR_NAME=VAR_VALUE,
					seperate each variable into its own line):
				</label>
				<textarea
					id="env-vars"
					name="env-vars"
					style="width: 90%"
					colls="50"
					rows="3"
				></textarea>
				<label for="args"> Extra args for docker create: </label>
				<input id="args" name="args" style="width: 90%" />
				<input type="submit" style="padding: 10px" value="Create" />
			</form>
			<h3>Deployments</h3>
			<table class="border1 table-container">
				<tbody id="deployment-table">
					<tr>
						<th>DeploymentID</th>
						<th>State</th>
						<th>Created at</th>
						<th>Ports</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</tbody>
			</table>
		</div>
		<template id="deployment-wrapper-template">
			<tr>
				<td class="deployment-id">loading...</td>
				<td class="deployment-state">loading...</td>
				<td
					><input
						class="deployment-createdAt"
						type="datetime-local"
						readonly
				/></td>
				<td>
					<details>
						<summary>reveal</summary>
						<span class="deployment-ports"> </span>
					</details>
				</td>
				<td>
					<button
						class="deployment-stream-logs"
						onclick="streamDeploymentLogs(this.name)"
					>
						Stream logs
					</button>
				</td>
				<td>
					<button
						class="deployment-download-logs"
						onclick="downloadDeploymentLogs(this.name)"
					>
						Download logs
					</button>
				</td>
				<td>
					<button
						class="deployment-delete"
						onclick="removeDeployment(this.name)"
					>
						Delete
					</button>
				</td>
				<td>
					<button
						class="deployment-restart"
						onclick="restartDeployment(this.name)"
					>
						Restart
					</button>
				</td>
				<td>
					<button class="deployment-toggle-pause"> Pause </button>
				</td>
				<td>
					<button class="deployment-toggle-start"> Start </button>
				</td>
			</tr>
		</template>

		<iframe
			id="terminal"
			style="
				height: 30vh;
				width: 100vw;
				position: fixed;
				bottom: 0;
				left: 0;
				margin: 0;
				box-sizing: border-box;
			"
		></iframe>
	</body>
</html>
